# Project dependencies
.cache
.idea
node_modules
yarn-error.log

# Build directory
**/public
**/.cache
**/dist
.DS_Store
tsconfig.build.tsbuildinfo

# Local Netlify folder
.netlify
**/.keep
