/* Code blocks (Fix a strange bug with prismjs) */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
}

#normalfont {
  font-size: 100%;
}

#smallfont {
  font-size: 90%;
}

#tinyfont {
  font-size: 80%;
}
